 

#nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
 #nav button{
    color: rgb(182 ,182,182);
 }
#nav{
    display: flex;
    align-items: center;
    background-color: #24353f;
    height: 50px;
    padding: 25px 0;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.7);
}
#home {
    width: 50%;
    height: 150px;
    background-color: #24353f;
    color: rgb(23, 162, 184);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.7);
}

